.infoTitle {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.infoSubTitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.infoListItems {
    text-align: left;
    font-size: small;
}

.subtitleContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.infoDetailPanel {
    text-align: center;
}

.infoSubsectionContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.infoDetailDescription {
    font-size: small;
}

.infoDetailRelatedLinks {
    font-size: small;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}