.infoTitle {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.infoSubTitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    /* flex: 1; */
}

.infoListItems {
    font-size: small;
}

.sectionContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.infoDetailPanel {
    text-align: center;
}

.infoSubsectionContainer {
    text-align: center;
    width: '100%';
}

.infoDetailDescription {
    font-size: small;
    text-align: left;
    /* background-color: blue; */
    /* overflow: scroll; */
    /* height: 140px; */
}

.infoDetailRelatedLinks {
    font-size: small;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
